<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>

	body{
		background-color: #638CB8;
	}
    p{
       color:darkred;
       font-size: 30px;
       font-style: inherit;
       font-family:fantasy;
    }

    a{
        color:rgb(180, 63, 17);
        font-size: 20px;
        text-align: center;
    }
    .btn-primary{
        background-color: rgb(116, 31, 76);
    }

</style>
<p>Are you sure you want to delete {{item}} ?</p>

<a href="{% url 'list' %}">Cancel</a>
<br>
<br>
<form method="POST" action = "">
    {% csrf_token %}
    <input class="btn btn-primary"type="submit" name="Confirm">
</form>